.App {
  padding: 2em;
}

header, section {
  margin-bottom: 2em;
}

.random-container {
  display: flex;
}

.textbox {
  min-width: 250px;
  min-height: 30px;
  border: 1px solid #ccc;
  padding-left: 15px;
}

button {
  min-width: 100px;
}